<h1>Prime Numbers</h1>
<div>
  <a href="/">Back</a>
  <h4>Sieve of Eratosthenes</h4>
  
</div>
  <form action="/primes" method="GET">
    <fieldset>
      <div class="form-group">
        <label>Upper Boundary</label>
        <input type="text" name="upperBoundary" value="100"/>
      </div>
      <input type="submit" value="Calculate" class="btn btn-primary" />
    </fieldset>
  </form>
Sum : <%= @sum %>















