body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
}

.top {
  background-image: url(../images/photoBlur.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 550px;
  color: white;
  padding-top: 130px;
}
.top h3,h4 {
  text-align: center;
}
.clearFix {
  clear: both;
}
.top ul {
  width: 250px;
  margin: 0 auto;
}
#authorPhoto {
  background-image: url(../images/photoFactory.jpg);
  height: 236px;
  width: 236px;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 50%;
}
.insideTop {
  height: 400px;
  width: 350px;
  /*background-color: white;*/
  margin: 0 auto;
}
.link {
  float: right;
  font-size: 40px;
  margin: 0 12px;
}
.link i {
  color: whitesmoke;
}
.box {
  border: 1px solid #999;
  background: #FCFCFC;
  padding: 1em;
  margin-bottom: 0.5em;
}

.welcome {
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

.error {
  text-align: center;
}

.error h2 {
  font-size: 1.5em;
}

/* TODO - Add your own styles here */
